/* styles */
* {
  box-sizing: border-box;
}
body, html {
  padding: 0;
  margin: 0;
}
:root {
  --color-grey: #F2F2F2;
}
body {
  font-family: sans-serif;
  text-transform: uppercase;
  overflow-x: hidden;
}
main {
  overflow-x: hidden;
}
h1 {
  text-align: center;
  margin-bottom: 6rem;
  font-size: 1.5rem;
  white-space: normal;
}
p {
  text-transform: none;
}
footer {
  text-align: center;
  padding: 2rem 0;
}
.error {
  color: red;
}
.error p {
  text-align: center;
}
.loading p {
  text-align: center;
}
.center-text {
  text-align: center;
}
#app {
  max-width: 1080px;
  width: 100%;
  overflow-x: hidden;
  margin: 0 auto;
  white-space: nowrap;
  position: relative;
  padding: 4rem 0;

}
#app > p {
  text-align: center;
}
p.loading {
  color: red;
}
.painting-group {
  width: 100%;
  display: block;
  justify-content: space-between;
  transition: all 0.9s;
}
.paintingsholder {
  min-height: 23rem;
  position: relative;
}
/* === SEARCH === */
.search-holder {
  width: 90%;
  max-width: 40rem;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0 0 3rem;
  align-items: center;
}
.search-holder input[type="text"] {
  flex-grow: 1;
  padding: 0.25rem 0.5rem;
  margin: 0 0.5rem;
}

/* === PAINTING === */
.painting {
  white-space: normal;
  box-shadow: 0px 20px 40px -20px rgba(0,0,0,.25);
  width: auto;
  border-radius: 4px;
  width: 100%;
  background-color: var(--color-grey);
  height: 20rem;
  transition: all 0.3s;
}
.painting a {
  text-decoration: none;
  cursor: pointer;
}
.painting figure {
  border-radius: 4px;
  height: 20rem;
  overflow: hidden;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.painting img {
  min-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: all 0.6s;
  transform-origin: center;
}
.painting p, .painting h3 {
  display: block;
  padding: 0 0.75rem;
  color: white;
  text-align: center;
}
.painting figcaption {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  transition: all 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem;
}
.painting:hover {
  transform: translateY(-0.5rem);
  box-shadow: 0px 20px 60px -20px rgba(0,0,0,.10);
}
.painting a:hover img {
  transform: scale(1.1);
}

/* === PAINTING DETAIL === */
.painting.detail {
  width: auto;
  max-width: 40rem;
  margin: 0 auto;
  height: auto;
  background-color: white;
  box-shadow: none;
}
.painting.detail h3, .painting.detail p {
  color: black;
}
.painting.detail > p {
  text-align: left;
}
.painting.detail .color-block {
  width: 40px;
  height: 40px;
  color: transparent;
  overflow: hidden;
  display: inline-block;
}
.painting.detail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.painting.detail figure {
  width: 100%;
  height: 30rem;
  box-shadow: 0px 30px 40px -20px rgba(0,0,0,.15);
  margin-bottom: 4rem;
  background-color: var(--color-grey);
}
.painting.detail figcaption {
  background-color: transparent;
  color: transparent;
}
.painting.detail .color-blocks-holder {
  display: flex;
  justify-content: center;
}

/* === Loaders === */
.loader .img, .loader .text {
  height: 20rem;
  box-shadow: 0px 30px 40px -20px rgba(0,0,0,.15);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: var(--color-grey);
  content: "";
  display: block;
  position: relative;
  overflow: hidden;
  border-radius: 4px;
}
.loader .text {
  height: 2rem;
  margin-bottom: 0;
}
.loader .img::after, .loader .text::after {
  display: block;
  content: "";
  position: absolute;
  width: 4rem;
  background-color: rgba(0,0,0,0.05);
  left: -4rem;
  top: 0;
  bottom: 0;
  animation: loader 1.25s infinite linear;
}
.loader.detail .img::after, .loader.detail .text::after {
  animation: loaderDetail 1.25s infinite linear;
  width: 8rem;
  left: -8rem;
}
.loader.detail .img {
  height: 30rem;
  width: 100%;
  margin-bottom: 4rem;
}
@keyframes loader {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(24rem)
  }
}
@keyframes loaderDetail {
  0% {
    transform: translateX(0)
  }
  100% {
    transform: translateX(48rem)
  }
}

/* === Else === */


button, .btn {
  display: table;
  appearance: none;
  background: black;
  border: 0;
  cursor: pointer;
  transition: all 0.3s;
  border-radius: 4px;
  padding: 0.75rem 1.25rem;
  color: white;
  margin: 3rem auto;
  position: relative;
  z-index: 1;
  display: table;
  text-decoration: none;
}
button:hover, .btn:hover {
  background: #F2F2F2;
  color: black;
}
#slider-button {
  display: none;
}
.hide {
  border: 0;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip; rect(1px, 1px, 1px, 1px);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
#lang-switcher {
  position: fixed;
  margin: 0;
  top: 2rem;
  right: 2rem;
}
#search-input {
  padding: 1rem 2rem;
  font-size: 3rem;
  font-weight: bold;
  border: 0;
  border-bottom: 1px solid grey;
  transition: all 0.3s;
  margin-bottom: 3rem;
  width: 100%;
}
#search-input:focus {
  outline: none!important;
  box-shadow: 0px 20px 40px -20px rgba(0,0,0,.15);
  transform: translateY(-0.5rem);
}
@media screen and (min-width: 60rem) {
  #app {
    min-height: 25rem;
  }
  .painting-group {
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    transform: translateX(100vw);
    bottom: 0;
    opacity: 0;
  }
  .painting-group.active {
    opacity: 1;
    pointer-events: all;
    transform: translateX(0);
  }
  .painting-group.active-out {
    opacity: 0;
    pointer-events: none;
    transform: translateX(-100vw);
  }
  .painting {
    width: 30%;
  }
  .painting figcaption {
    opacity: 0;
  }
  .painting a:hover figcaption {
    opacity: 1;
  }
  #slider-button {
    display: table;
  }
}
